<div class="slider">
    <div class="slide" ng-repeat="image in images" ng-show="image.visible">
        <img ng-src="/images/{{image.src}}" />
    </div>
    <div class="arrows">
        <a href="#/custDirective" ng-click="prev()"><img src="/images/left-arrow.png" /></a>
        <a href="#/custDirective" ng-click="next()"><img src="/images/right-arrow.png" /></a>
    </div>
</div>