<html>
  <head>
    <title>My Angular App!</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="http://code.angularjs.org/1.2.9/angular-animate.min.js"></script>
    <link href='stylesheets/style.css' rel='stylesheet' type='text/css'>
    <script src="/javascripts/angularApp.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
    <style> .glyphicon-thumbs-down { cursor:pointer } </style>
  </head>
  <body ng-app="flapperNews">

    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="/#/home" >Home</a></li>
        <li ng-show="isLoggedIn()"><a href="/#/slider">Slider</a></li>
        <li ng-show="isLoggedIn()"><a href="/#/animations">Animations</a><li>
        <li ng-show="isLoggedIn()"><a href="/#/custDirective">Directive</a><li>
        <li ng-show="isLoggedIn()"><a href="/#/promises">Promises</a><li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </nav>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>
  </body>

  <!-- Template voor promises-->
  <script type="text/ng-template" id="/promises.html">
  <h1>Messages</h1>

  <ul>
    <li ng-repeat="message in messages">{{ message }}</li>
  </ul>

  </script>

  <!-- Template voor de directives-->
  <script type="text/ng-template" id="/custDirective.html">
  <div custom></div>

  <body ng-controller="SliderController">
    <h1>Slider Using AngularJS</h1>
    <slider images="images"/>
  </body>

  </script>

  <!-- Template voor de animations-->
  <script type="text/ng-template" id="/animations.html">
  <div ng-init="checked=true">
    <label>
      <input type="checkbox" ng-model="checked" style="float:left; margin-right:10px;"> Is Visible...
    </label>

    <div class="check-element sample-show-hide" ng-show="checked" style="clear:both;">
      Div is Visible...
    </div>

  </div>
  <br/>

  <div>
    <p>
      <input type="button" value="make text bigger" ng-click="myCssVar='css-class'">
      <input type="button" value="make text normal" ng-click="myCssVar=''">
      <br>
      <span ng-class="myCssVar">CSS-Animated Text</span>
    </p>
  </div>
  </script>
  
  <!-- Template voor de homepagina-->
  <script type="text/ng-template" id="/home.html">
  <div class="page-header">
    <h1>Flapper News</h1>
  </div>

  <div>
    <p>Zoek een post</p>
    <input ng-model="filterText" placeholder="zoeken"/>
    <br/>
    <br/>
  </div>

  <div ng-repeat="post in posts | filter: filterText | orderBy: '-upvotes'" class="animated-item">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
    <span class="glyphicon glyphicon-thumbs-down"ng-click="decreaseUpvotes(post)"></span>
    {{post.upvotes}}
    <span style="font-size: 20px; margin-left: 10px;">
      <a ng-show="post.link" href="{{post.link}}" >
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </span>
    <span>
      <a href="#/posts/{{post._id}}"> - comments(aantal: {{post.comments.length}})</a>
    </span>
  </div>

  <form ng-submit="addPost()"  ng-show="isLoggedIn()" style="margin-top:30px;">
    <h3>Add a new post</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeHolder="Title" placeholder="Title" ng-model="title"></input>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
  <div ng-hide="isLoggedIn()">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
  </div>
  </script>
  
  <!-- Template voor de post te tonen met zijn comments -->
  <script type="text/ng-template" id="/posts.html">
  <div class="page-header">
    <h3>
    <a ng-show="post.link" href="{{post.link}}">
      {{post.title}}
    </a>
    <span ng-hide="post.link">
      {{post.title}}
    </span>
    </h3>
  </div>

  <div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
    <span class="glyphicon glyphicon-thumbs-down" ng-click="decreaseUpvotes(comment)"></span>
    {{comment.upvotes}} - by {{comment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
  </div>

  <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px">
    <h3>Add a new comment</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
  <div ng-hide="isLoggedIn()">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
  </div>
  </script>

  <!--Template om te registreren-->
  <script type="text/ng-template" id="/register.html">
  <div class="page-header">
    <h1>Flapper News</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()"
    style="margin-top:30px;">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>

    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  </script>

<!--Template om in te loggen-->
  <script type="text/ng-template" id="/login.html">
  <div class="page-header">
    <h1>Flapper News</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>

    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>

    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
  </script>

<!--Template voor slider-->
  <script type="text/ng-template" id="/slider.html">
  <body ng-controller="sliderCtrl">
    <h1>Carousel with Angularjs</h1>
    <div class="container-gral">
      <div class="container" >
        <div class="slider" create-slider urls='["images/img1.png",
        "images/img4.png", "images/img5.png"]' current="current" time="3"></div>
      </div>
    </div>
    <script src="js/app.js"></script>
  </body>
  </script>
</html>