body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F2F2F2;
    font-size: 16px;
}

.container {
    background-color: #ddd;
    min-height: 400px;
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.slider {
    width: 100%;
    height: 300px;
}

.slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    transition: all .6s ease-in-out;
}

.slider li {
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}

.slider li img {
    width: 100%;
    border: none;
    min-height: 100%;
}

.icons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50px);
}

.icons span {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 .3em;
    background-color: #D6D6D6;
    cursor: pointer;
}

.active {
    background-color: #fff !important;
}

.sample-show-hide {
    padding: 10px;
    border: 1px solid black;
    background: white;
}

.sample-show-hide {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.sample-show-hide.ng-hide {
    opacity: 0;
}

.css-class-add,
.css-class-remove {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.css-class,
.css-class-add.css-class-add-active {
    color: red;
    font-size: 3em;
}

.css-class-remove.css-class-remove-active {
    font-size: 1.0em;
    color: black;
}

.animated-item {
    font-size: 20px;
    line-height: 30px;
}

.animated-item.ng-move,
.animated-item.ng-enter,
.animated-item.ng-leave {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.animated-item.ng-leave.ng-leave-active,
.animated-item.ng-move,
.animated-item.ng-enter {
    opacity: 0;
    max-height: 0;
}

.animated-item.ng-leave,
.animated-item.ng-move.ng-move-active,
.animated-item.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 30px;
}

.center-grey {
    background: #f2f2f2;
}

.slider {
    position: relative;
    padding: 5px;
    width: 610px;
    margin: auto;
    margin-top: 40px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 15px #999;
}

.arrows {
    position: absolute;
    top: 10px;
    right: 20px;
}

.arrows img {
    height: 32px;
}

.slide.ng-hide-add,
.slide.ng-hide-remove {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    display: block!important;
}

.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
    opacity: 0;
}

.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
